/* PAGE */

.login-page{
min-height:100vh;

/* 🔥 BACKGROUND IMAGE */
background:
linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
url("https://images.unsplash.com/photo-1607082349566-187342175e2f");

/* important */
background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;
justify-content:center;
padding:60px;
}

/* REVEAL EFFECT (same as home) */

.reveal{
opacity:0;
transform:translate3d(0,80px,0);

transition:
transform .8s cubic-bezier(.22,1,.36,1),
opacity .8s cubic-bezier(.22,1,.36,1);
}

.reveal.show{
opacity:1;
transform:translate3d(0,0,0);
}

/* MAIN CONTAINER */

.login-container{
display:flex;
gap:60px;
width:100%;
max-width:1100px;
align-items:center;
}

/* LEFT */

.login-left{
flex:1;
color:white;
}

.login-left h1{
font-size:50px;
margin-bottom:20px;
}

.login-left span{
color:#b8ff00;
}

.login-left p{
color:#aaa;
line-height:1.6;
}

/* FORM BOX */

.login-form-box{
flex:1;

background:#111;
padding:40px;
border-radius:25px;

box-shadow:0 0 30px rgba(0,0,0,0.6);
}

/* TITLE */

.login-form-box h2{
color:#b8ff00;
margin-bottom:25px;
}

/* GRID FORM */

.form-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

/* FULL WIDTH INPUT */

.form-grid input{
padding:12px;
border-radius:10px;
border:none;

background:#1c1c1c;
color:white;
}

/* MAKE EMAIL FULL WIDTH */

.form-grid input[type="email"]{
grid-column:span 2;
}

/* BUTTON */

.login-btn{
grid-column:span 2;

padding:14px;
margin-top:10px;

background:#b8ff00;
border:none;
border-radius:25px;

font-weight:600;
cursor:pointer;

transition:0.3s;
}

.login-btn:hover{
transform:scale(1.03);
box-shadow:0 0 15px #b8ff00;
}
.login-link{
margin-top:15px;
color:#aaa;
font-size:14px;
}

.login-link span{
color:#b8ff00;
cursor:pointer;
font-weight:500;
}

.login-link span:hover{
text-decoration:underline;
}